<p>market-depth works!</p>

<div class="mainOuterContainer">

    <div class="searchContainer">
        <input type="text">
    </div>

    <div class="stockDetailContainer">

        <div class="stockHeader">
            <div class="stockLTP-container">
                <div class="stockSymbolContainer"></div>
                <div class="stockLTP-container"></div>
            </div>

            <div class="stockDepthActionContainer">
                <div class="depthAction"></div>
                <div class="scalperAction"></div>

            </div>
        </div>

        <div class="stockDepthDetailContainer">
            <app-depth-container></app-depth-container>

            
        </div>
    </div>
</div>