<div class="mainOuterContainer" cdkDrag>



    <div class="stockDetailContainer">

        <div class="stockHeader">
            <div class="stockLTP-container">
                <div class="stockSymbolContainer">
                    <h4> {{symbol}} </h4>
                </div>
                <div class="stockLTP-container">
                    <h4>LTP - {{price}} </h4>

                </div>
            </div>

            <div class="stockDepthActionContainer">
                <div class="depthAction" >
                    <button 
                    (click)="showMarketDepth()" 
                    [ngClass]="{'activeButton':showLimitedDepth}"
                    
                    > Maket depth </button>
                </div>
                <div class="scalperAction">
                    <button (click)="showDepthScalper()" 
                    
                    [ngClass]="{'activeButton':!showLimitedDepth}"
                    
                    
                    > Depth Scalper</button>
                </div>

            </div>
        </div>

        <div class="stockDepthDetailContainer">
            <app-depth-container *ngIf="showLimitedDepth" [buyers]="buyers" [sellers]="sellers"></app-depth-container>
            <app-scalper-container [price]="price" *ngIf="!showLimitedDepth" [buyers]="buyers" [sellers]="sellers" ></app-scalper-container>

        </div>
    </div>
</div>