<div class="depth-container">
    <div class="market-depth-header-container">
        <div class="symbol-ltp-container">
            <div class="symbol_container"></div>
        </div>
        <div class="action-change-container">
            <div class="watch-market-depth">
                <button>
                    Market Depth
                </button>
            </div>
            <div class="watch-depth-scalper">
                <button>
                    Depth Scalper
                    
                </button>
            </div>
        </div>

    </div>
</div>