<!-- <p>market-watch-user-input works!</p> -->
<div class="user-input-container">

    <div class="form-container">
        <form action="">
            <div class="form-group">
                <label for=""> price</label>
                <input type="number">
            </div>

            <div class="form-group">
                <label for=""> Price Range </label>
                <input type="number">
            </div>
            <div class="form-group">
                <label for=""> Number of Buyers/Sellers</label>
                <input type="number">
            </div>

            <div class="form-group">
                <label for=""> Max Quantity</label>
                <input type="number">
            </div>
            <div class="form-group">
                <div class="btn-container">

                    <button>
                        submit
                    </button>

                </div>
            </div>

        </form>
    </div>

</div>