.headerContainer {
    padding: 1vw 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kiteIconContainer img {
    width: 40px;
}
.linksContainer{
    min-width: 8rem ;
    min-height: 1rem;

   .search-container{
    display: flex;
    justify-content: space-between;
    min-width: 8rem;
    background-color: aliceblue;

   }
}
 