 
<table>

    <!-- <tr>
        <th colspan="6"> {{staock_name}} </th>

    </tr> -->
    <tr>
        <th>MktVol</th>
        <th>MyVol</th>
        <th>Bid</th>
        <th>Ask</th>
        <th>MyVol</th>
        <th>MktVol</th>
    </tr>

    <tr *ngFor="let  buyer of buyers;let i =index ">
        <td [style]="{color:'green'}">{{buyer.volume}}</td>
        <td> </td>
        <td [style]="{color:'green'}">{{buyer.price}} </td>
        <td [style]="{color:'red'}"> {{sellers[i].price}} </td>
        <td></td>
        <td [style]="{color:'red'}"> {{sellers[i].volume}} </td>
    </tr>
</table>