   @import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');


table{
    font-family: 'Quicksand', sans-serif;
    border: 1px solidhwb(210 87% 10%);
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
td ,th {
    border-top : #999ea2 solid 1px;
    border-bottom : #dee2e6 solid 1px;
    padding: 0.5rem  1rem;
    border-right:0px ;
    font-weight: 600;
    font-size: 12px;
    // background-color: ;

}th{
    font-weight: 500;
}
// font-family: 'Pangolin', cursive;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Rubik', sans-serif;