   @import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');


table{
    font-family: 'Quicksand', sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
}
td ,th {
    border : black solid 1px;
    padding: 1rem  2rem;

}
// font-family: 'Pangolin', cursive;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Rubik', sans-serif;