.market-watch-container {
    display: flex;
    height: 32.75rem;

    .left-container {

        flex: 40%;
        // background-color: aliceblue;

        .output-symbol-card{
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            // min-height: 40rem;
        }

    }


    .right-container {
        flex: 70%;
    }

}