.market-watch-container {
    display: flex;
    height: 32.75rem;

    .left-container {

        flex: 30%;
        // background-color: aliceblue;

        .form-group {
            display: flex;
            // justify-content: space-evenly;

            .inputContainer {
                flex: 50%;
                background-color: aqua;
                height: 2rem;
            }

            .buttonContainer {
                height: 2rem;
                background-color: antiquewhite;
                 flex: 50%;
            }
        }

    }


    .right-container {
        flex: 70%;
    }

}