<div class="market-watch-container">
    <div class="left-container">


        <div class="symbol-output-container">
            <div class="output-symbol-card">
                <app-stock-symbol-card  *ngFor="let stock of detailedList; let i = index" [dataIndex]="i"
                    [name]="stock.Name" [symbol]="stock.Ticker" [price]="stock.Price" 
                    [routerLink]="[stock.ID]"
                    >
                </app-stock-symbol-card>


            </div>
        </div>

    </div>
    <div class="right-container">
        <!-- <app-market-depth></app-market-depth> -->
        <router-outlet></router-outlet>


    </div>

</div>