<p>market-watch works!</p>

<div class="market-watch-container">
    <div class="left-container">
        <!-- 

            <div class="symbol-search-container">
            <form action="">
                <div class="form-group">
                    <div class="inputContainer">
                         <input type="text"> -->
                    <!-- </div>
                    <div class="buttonContainer"> -->

                        <!-- <button type="submit">Get Available Symbols</button> -->
                    <!-- </div>


                </div>


            </form>

        </div> -->
      
        <div class="symbol-output-container">
            <div class="output-symbol-card">
                 <app-stock-symbol-card >
                    
                 </app-stock-symbol-card>
                

            </div>
        </div>

    </div>
    <div class="right-container">

        Right data

    </div>

</div>